<footer class="bg-dark mt-5">
	<div class="container section">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<ul class="p-0 d-flex navbar-footer mb-0 list-unstyled">
					{{ range site.Menus.footer }}
					<li class="nav-item my-0">
						<a class="nav-link"
							href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright bg-dark content">{{site.Params.copyright | markdownify}}</div>
</footer>